

  
  {% if product.variants.size >= 1 %}
    <div class="product_variations">
      <a href="javascript:void(0);" class="cstm_add_cart">Add to cart</a>
      <div class="variations-group-custom">
      {% for variant in product.variants %}
          {% if variant.available %}
            <a href="javascript:void(0);" class="variation_item" data-id="{{ variant.id }}">
              {{ variant.title }}
            </a>
         {% else %}
            <a href="javascript:void(0);" class="variation_item disable-varaint" data-id="{{ variant.id }}">
              {{ variant.title }}
            </a>
        {% endif %} 
      {% endfor %}
      </div>
    </div>
  {% endif %}

<script>
//Custom Add to cart functions js
let var_item = document.querySelectorAll('.variations-group-custom .variation_item');
var_item.forEach(function(ele){
  ele.addEventListener('click', function(e){
    e.preventDefault();
    let vid = ele.getAttribute('data-id');

    let formData = {
       'items': [{
          'id': vid,
          'quantity': 1
        }]
    };
    
    fetch(window.Shopify.routes.root + 'cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
    .then(response => {
        document.querySelector('.js-mini-cart-trigger').click();
        return response.json();
    })
    .catch((error) => {
        console.error('Error:', error);
    });
    
  });
});

</script>